/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/bin/
# rspec failure tracking
.rspec_status
*.o
*.log

# C extension build artifacts
/ext/**/*.c
/ext/**/Makefile
/ext/**/*.so
/ext/**/*.bundle
/ext/**/mkmf.log
